html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	color: #9ea7b3 !important;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-size: 14px !important;
	line-height: 20px;
	overflow-x: hidden !important;
	height: 100%;
	z-index: -2;
	margin: 0px !important;
	padding: 0;
}

iframe {
	border: 0;
	width: 100%;
	height:100%;
	overflow: hidden;
}

a:hover {
	text-decoration: none !important;
}

i {
	font-style: normal;
}

b {
	font-weight: normal;
}

/**************************** alert style ****************************************/
.modal-alert .modal-body{
	line-height: 30px;
	padding: 15px;
}
.modal-alert .modal-footer{
	padding: 8px 0 8px 0;
	text-align: center;
}
.modal-alert .modal-footer .btn{
	padding-left:30px;
	padding-right: 30px;
}
.modal-alert .alert-text{
	color: #655757;
}
.bootbox.modal.modal-alert{
   background: rgba(0, 0, 0, 0.25);	
}
 
.modal-alert  .modal-dialog{
	max-width: 500px;
}

/******************************** dialog ***************************************************/
.modal-body{
	padding: 0px;
}