.chat {
    position: fixed;
    color: #735c5c;
    right: 0px;
    bottom: 0px;
    padding: 0 5px 0px 0;
}

.chat .contact-body {
    height: 550px;
    border: 1px solid #D0DCF3;
}

.chat .contact-bottom {
    position: relative;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    color: green;
    background: #fff;
    top: -2px;
    left: -1px;

}

.chat .contact-bottom.active {
	left: 199px;
	top: -1px;
    border: 1px solid #D0DCF3;
    border-top: 0;
}

.chat .contact-body .contact-body-top {
    border-bottom: 1px solid #D0DCF3;
    padding: 5px 0px;
}

.contact-body .form-group {
    margin: 0;
}

.contact-body .input-sm {
    border: 0;
}

input[type="text"]:focus, input[type="text"] {
    background: #fff;
    border: 0 !important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
}

.contact-body .contact-body-content {
    height: 509px;
    width: 227px;
}

.contact-body .contact-body-content .tab-content {
    height: 463px;
    width: 227px;
    overflow: auto;
}
.contact-body .contact-body-content .tab-content::-webkit-scrollbar {
	background:#fff;
	width: 10px;
}
.contact-body .contact-body-content .tab-content::-webkit-scrollbar-thumb{
    background:#eee;
    border-radius: 5px;
}
.nav-justified > li > a > i {
    font-size: 18px;
}

.contact-body .contact-body-content .tabbable .nav-tabs a {
    border-radius: 0 !important;
    border-top: 0;
}

.contact-body .contact-body-content .tabbable .nav-tabs li:FIRST-CHILD a {
    border-left: 0;
}

.contact-body .contact-body-content .tabbable .nav-tabs li:last-CHILD a {
    border-right: 0;
}

.chat-user, .chat-user ul {
    padding: 5px 0px;
}

.chat-user li {
    list-style: none;
}

.chat-user li a {
    padding: 5px 15px;
    color: #000 !important;
    cursor: default;
}

.chat-user li a:FOCUS, .chat-user li a:HOVER, .chat-user li a:ACTIVE {
    text-decoration: none;
}

.chat-user li a i {
    font-size: 16px;
    width: 16px;
    height: 16px;
}

.chat-user li ul {
    display: none;
}

.chat-user .contact-user {
    padding: 3px 5px;;
}

.chat-user .contact-user:HOVER {
    background-color: #F2F4F8;
}

.chat-user .contact-user img {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.chat-user .contact-user span {
    padding-left: 10px;
}

.chat-user .contact-user span.time {
    position: relative;
    top: 0;
    right: 0;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    color: #ccc;
    float: right;
    margin-right: 5px;
}

.chat_window {
    width: 650px;
    height: 555px;
    position: fixed;
    border: 1px solid #BEBEBE;
    background-color: #fff;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 2px !important;
    color: #000;
}

.chat_window b {
    font-weight: bold;
}

.chat_window i {
    font-style: oblique;
}

.chat_window .chat_window_top {
    width: 100%;
    height: 60px;
    position: relative;
    border-bottom: 1px solid #D9D9D9;
    background-color: #FCFDFA;
    cursor: move;
}

.chat_window .chat_window_top .user_img {
    position: absolute;
    width: 55px;
    height: 55px;
    padding: 2px;
    background: #fff;
    top: 2px;
    left: 10px;
    border: 1px solid rgba(8, 8, 8, .1);
    border-radius: 1px !important;
}

.chat_window .chat_window_top .fa {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
}

.chat_window .chat_window_top .fa-minus {
    right: 35px;
    top: 11px;
}

.chat_window .chat_window_top .fa-times {
    right: 10px;
    top: 10px;
}

.chat_window .chat_window_top .fa-times:HOVER {
    color: red;
}

.chat_window .chat_window_top .user_name {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    font-family: 宋体;
    top: 10px;
    left: 70px;
    color: #333;
    top: 10px;
}

.chat_window .chat_window_top .user_img img {
    width: 50px;
    height: 50px;
}

.chat_window .chat_window_body {
    width: 100%;
    height: 330px;
    overflow: hidden;
}

.chat_window .chat_window_body:HOVER {
    overflow: auto;
}

.chat_window .chat_window_footer .wysiwyg-toolbar {
    margin: 0;
    padding: 3px 0;
    background-color: #FCFDFA;
}

.chat_window .chat_window_footer .wysiwyg-toolbar .btn {
    border: 0;
}

.chat_window .chat_window_footer .wysiwyg-toolbar .btn-group {
    margin: 0;
}

.chat_window .chat_window_footer .wysiwyg-editor {
    height: 85px;
    padding: 2px 10px;
    overflow: auto;
}

.chat_window .chat_window_footer .wysiwyg-editor:FOCUS {
    outline: none;
}

.chat_window .chat_window_footer .wysiwyg-editor img {
    max-width: 100px;
}

.chat_window .chat_window_footer .wysiwyg-button {
    padding: 2px 5px;
}

.chat_window .chat_window_body {
    padding: 10px 0;
}

.chat_window .chat_window_body ul li {
    margin-top: 10px;
    vertical-align: top;
}

.chat_window .chat_window_body ul li img {
    vertical-align: top;
}

.chat_window .chat_window_body .message-popover {
    display: inline-block;
    max-width: 450px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding: 5px 10px;
    position: relative;
    text-align: left;
    vertical-align: top;
}

.chat_window .chat_window_body .message-popover img {
    max-width: 430px;
}

.chat_window .chat_window_body .message-popover:BEFORE, .chat_window .chat_window_body .message-popover:AFTER {
    position: absolute;
    display: block;
    content: " ";
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
}

.chat_window .chat_window_body .message-popover.left:before {
    border-right-color: #ccc;
}

.chat_window .chat_window_body .message-popover.left:after {
    border-right-color: #fff;
}

.chat_window .chat_window_body .message-popover.left:before,
.chat_window .chat_window_body .message-popover.left:after {
    top: 5px;
    border-left-width: 0;
}

.chat_window .chat_window_body .message-popover.left:before {
    left: -11px;
}

.chat_window .chat_window_body .message-popover.left:after {
    left: -9px;
}

.chat_window .chat_window_body .message-popover.right:before {
    border-left-color: #ccc;
}

.chat_window .chat_window_body .message-popover.right:after {
    border-left-color: #fff;
}

.chat_window .chat_window_body .message-popover.right:before,
.chat_window .chat_window_body .message-popover.right:after {
    top: 5px;
    border-right-width: 0;
}

.chat_window .chat_window_body .message-popover.right:before {
    right: -11px;
}

.chat_window .chat_window_body .message-popover.right:after {
    right: -9px;
}

.chat_window .chat_window_body .message-popover p {
    margin: 5px 0;
}
