html,body{
	height:100%;
}
#ifm{
	height:100%;
}
/*********************************页面皮肤******************************************/
body:BEFORE {
	background: none;	
}

.body-skin1,.body-skin2,.body-skin3,.body-skin4,.body-skin5,.body-skin6,.body-skin7,.body-skin8,.body-skin9,.body-skin10,.body-skin11,.body-skin12 {
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.body-skin1{ 
	background: url('../../img/main/bg.jpg') no-repeat top center fixed;
}

.body-skin2 {
	background: url('../../img/main/bg2.jpg') no-repeat top center fixed;
}

.body-skin3 {
	background: url('../../img/main/bg4.jpg') no-repeat top center fixed;
}

.body-skin4 {
	background: url('../../img/main/giftly.png') repeat;
}

.body-skin5 {
	background: url('../../img/main/bg5.jpg') no-repeat top center fixed;
}

.body-skin6 {
	background: url('../../img/main/bg3.png') no-repeat top center fixed;
}

.body-skin7 {
	background: url('../../img/main/bg8.jpg') no-repeat top center fixed;
}

.body-skin8 {
	background: url('../../img/main/bg9.jpg') no-repeat top center fixed;
}

.body-skin9 {
	background: url('../../img/main/bg10.jpg') no-repeat top center fixed;
}

.body-skin10 {
	background: url('../../img/main/bg11.jpg') no-repeat top center fixed;
}

.body-skin11 {
	background: url('../../img/main/bg12.jpg') no-repeat top center fixed;
}

.body-skin12 {
	background: url('../../img/main/bg13.jpg') no-repeat top center fixed;
}

/******************************* navbar ********************************************/
.navbar .navbar-inner{
	background: none;
}

.navbar .navbar-brand small img {
	width: 40px;
	margin-left: 10px;
}

.navbar .logo-text{
	font-size: 30px;
	font-weight: bold;
    line-height: 45px;
    text-shadow: 5px -5px #5aaf54, 4px -4px #ffffff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    vertical-align: top;
}

.navbar .sidebar-collapse{
	left: 225px;
}

.navbar .sidebar-collapse .collapse-icon{
}

.navbar .dropdown-menu:after {
    border-color: #FFFFFF rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 13px 13px;
    content: "";
    display: block;
    right: 11px;
    margin-left: -15px;
    position: absolute;
    top: -10px;
    width: 0;
    z-index: 1;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area{
	right: 15px;	
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area>li.open>a  {
	background:none;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,1);
    box-shadow: 0 2px 5px rgba(0,0,0,1);
}

/******************* user **************************/

.navbar .account-area .dropdown-menu.dropdown-login{
	padding-top: 10px;
	min-width: 140px!important;
}
.navbar .account-area .dropdown-menu.dropdown-login.dropdown-arrow:BEFORE{
	width: 0px!important;	
}

.navbar .account-area .dropdown-menu.dropdown-login  li a {
    clear: both;
    color: #777777!important;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 10px 10px!important;
    white-space: nowrap;
    font-size: 13px;
}
.navbar .account-area .dropdown-menu.dropdown-login  li a:HOVER{
	color: #39B3D7!important;
}



.navbar .account-area .dropdown-menu.dropdown-login li a span{
	padding: 5px 15px;
}
/******************* user end **************************/


/******************* main-container **************************/
.main-container:after{
	background: none;
}

/******************* sidebar **************************/
.page-sidebar:before{
	background: none;
	top:45px;
}

.page-sidebar .sidebar-header-wrapper .searchinput{
	background: none;
	border: 0px solid rgba(0, 0, 0, 0.3);
	border-left: 0;
	border-right: 0;
}

.page-sidebar .sidebar-menu>li>a {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.page-sidebar .sidebar-menu a{
	color:#f3f3f3;
}

.page-sidebar .sidebar-menu .submenu li.active>a {
    color: rgb(212, 212, 229);
}
.page-sidebar .sidebar-menu a:hover {
    color: #bae0ab;
}
.page-sidebar .sidebar-menu li.open>a {
    color: #73d58e;
}
.page-sidebar .sidebar-menu li.open {
    background-color: rgba(0, 0, 0, 0.1);
}

.page-sidebar .sidebar-menu>li>.submenu{
	background: rgba(0, 0, 0, 0.05);	
}

.page-sidebar .sidebar-menu>li>a:hover{
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	color:#f5f5f5;
}
.page-sidebar .sidebar-menu>li:last-child>a{
	border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
}

.page-sidebar .sidebar-menu>li.open>a{
	background: none;	
}

.page-sidebar .sidebar-menu li.active>a{
	background: rgba(0, 0, 0, 0.1);
}
.page-sidebar .sidebar-menu li.active.open>a{
	background: none;
}
.page-sidebar .sidebar-menu a .menu-expand{
	color: #ffffff;
}

.page-sidebar .sidebar-menu .submenu li.active>a{
	background: none;
}

.page-sidebar .sidebar-menu .submenu>li.open>a{
	 background: none;
}

.page-sidebar .sidebar-menu .submenu{
	background: none;
}

.page-sidebar .sidebar-menu .submenu>li .submenu{
	border: 0;
}

.page-sidebar.menu-compact+.page-content{
	margin-left: 49px;
}

.page-sidebar .sidebar-menu li.active>a{
	color: #ffffff;
	font-weight: 600;
}

 .nav .open>a:focus{
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}
/******************* sidebar compact **************************/
.page-sidebar.menu-compact .sidebar-header-wrapper:HOVER .searchinput{
	background: #ffffff;
}
.page-sidebar.menu-compact .sidebar-menu>li:hover>a{
	background: #ffffff;
}
.page-sidebar.menu-compact .sidebar-menu .submenu a{
	color: #4e5d89;
}

.page-sidebar.menu-compact .sidebar-menu a .menu-expand{
	color: #4e5d89;
}
/***************************************************************************/
.page-body{
	padding: 10px 10px 0px 10px;
	background: #f5f5f5;
}